
<div class="center">
  <mat-form-field class="autocomplete-field">
    <input matInput placeholder="Search Stocks"
      [matAutocomplete]="auto"
      [formControl]="searchMoviesCtrl"
      placeholder="Search for stock symbol (min. 3 characters) eg. IBM">
    <button *ngIf="showClearBtn" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon aria-hidden="false" aria-label="Clear" fontIcon="close"></mat-icon>
    </button>

    <!-- (optionSelected)="onSelected($event)" -->
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()">
      <mat-option *ngIf="isLoading" class="spinner">
        <mat-spinner diameter="25"></mat-spinner>
      </mat-option>
      <mat-option *ngFor="let stock of filteredStocks" [value]="stock['1. symbol']">
        <span>{{stock['1. symbol']}}</span> |
        <small> {{stock['2. name']}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="submit-container">
    <button mat-raised-button color="primary" class="submit" (click)="submit()">Submit</button>
  </div>

</div>

<div class="error-container">
  <span *ngIf="notSelected">
    Please select a stock
  </span>
</div>
